**1-Write a Python program to calculate the length of a string using 2 ways

In [ ]:
string=input()
print(len(string))

In [ ]:
string=input()
num=0
for i in string:
    num+=1
print(num)

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [ ]:
string=input()
print(string[0:2]+string[-2]+string[-1])

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [5]:
string=input()
newstring=string
if len(string)>=3 :
    if string.endswith("ing"):
        newstring+="ly"
    else:
        newstring+="ing"
else:
    newstring
print(newstring)

abcing
abcingly

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [10]:
list=["exam","Exercises","problems"]

longest = 0

for words in list:
     if len(words) > longest:
            longest = len(words)
            longest_word = words

print("The longest word is", longest_word, "with length", len(longest_word))

The longest word is Exercises with length 9

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [11]:
string=input()
print(string[-1]+string[1:-1]+string[0])

abce
ebca

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [12]:
string=input()
newstring=""
for i in range(0,len(string)):
    if not i%2 :
        newstring+=string[i]
print(newstring)

abcd
ac

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [13]:
string=input()
list=string.split()
for i in list:
    print(list.count(i))

amr and ahmed are frindes but amr is the tallest
2
1
1
1
1
1
2
1
1
1

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [14]:
string=input()
print(string.upper())
print(string.lower())

lehh
LEHH
lehh

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [15]:
string=input()
if not len(string)%4 :
    print(string[::-1])

lehh
hhel

**10- Write a Python program to remove a newline in Python

In [16]:
string=input()
print(string.splitlines())

this
['this ']

**11-Write a Python program to check whether a string starts with specified characters

In [17]:
string=input()
print(string.startswith(input()))

lehh
l
True

**12- Write a Python program to add prefix text to all of the lines in a string

In [19]:
string=input()
newstring=""
for i in string.splitlines():
    newstring+=i
    
print(input("prefix :") + newstring )

leh
prefixl
l['leh']

**13-Write a Python program to print the following numbers up to 2 decimal places

In [21]:
round(float(input()),2)

5.13

5.13

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [25]:
import numpy as numpy
num=input()
print(
round(float(num),2)*numpy.sign(round(float(num),2))
)

8
8.0

**15-Write a Python program to display a number with a comma separator

In [28]:
print(f"{int(input()):,}")

1000000
1,000,000

**16-Write a Python program to reverse a string using 2 ways

In [29]:
string=input()
print(string[::-1])

banana
ananab

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [31]:
string=input()
dic={}
for i in string:
    if i in dic:
        dic[i]+=1
    else:
        dic[i]=1
print(dic)

use dictionary
{'u': 1, 's': 1, 'e': 1, ' ': 1, 'd': 1, 'i': 2, 'c': 1, 't': 1, 'o': 1, 'n': 1, 'a': 1, 'r': 1, 'y': 1}

**18-Write a Python program to find the first non-repeating character in a given string

In [ ]:
string=input()
element=""
    for i in string:
        for j in string:
            if not j=i:
                element=i
print(i)

**19-Write a Python program to remove spaces from a given string

In [ ]:
string=input()
print(string.replace(" ", ""))

**20-Write a Python program to count the number of non-empty substrings of a given string

In [32]:
string=input()
n=len(string)
print(n * (n + 1) / 2)

kkkkk
15.0

**21-write a Python program to swap first and last element of any list.

In [34]:
list=[1,3,4,5,6]
newlist=[]
newlist.append(list[-1])
newlist.extend(list[1:-1])
newlist.append(list[0])
print(newlist)

[6, 3, 4, 5, 1]

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [35]:
list=[23, 65, 19, 90]
pos1=int(input("1: "))
pos2=int(input("2: "))
list[pos1],list[pos2]=list[pos2],list[pos1]
print(list)

1: 1
2: 3
[23, 90, 19, 65]

**23- search for the all ways to know the length of the list

In [ ]:
**24-write a Python code to find the Maximum number of list of numbers.

In [36]:
list=[1,3,5,1,3,6]
print(max(list))

6

In [ ]:
**25-write a Python code to find the Minimum number of list of numbers.

In [37]:
list=[1,3,5,1,3,6]
print(min(list))

1

**26-search for if an elem is existing in list

In [39]:
list=[1,3,5,1,3,6]
if int(input()) in list:
    print("exist")
else:
    pass

3
existing

**27- clear python list using different ways

In [ ]:
list=[1,3,5,1,3,6]
list.clear()

**28-remove duplicated elements from a list

In [40]:
mylist=[1,3,5,1,3,6]
mylist=list(set(mylist))
print(mylist)

TypeError: 'list' object is not callable

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [156]:
test=["gfg",3,"is",8]
key=["name","id"]
res=[]
num=0
for idx in range(0, len(test), 2):
    res.append({key[0]: test[idx], key[1] : test[idx + 1]})
print(res)

[{'name': 'gfg', 'id': 3}, {'name': 'is', 'id': 8}]

**30-write a python program to count unique values inside a list using different ways

In [ ]:
mylist=[1,3,5,1,3,6]
mylist=list(set(mylist))
print(len(mylist))

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 
Output : [4, 3] )

In [42]:
list=[4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
dic={}
for i in list:
    if i in dic:
        dic[i]+=1
    else:
        dic[i]=1
k=int(input("k= "))
for i in dic:
    if dic[i]>int(k):
          print(f"{dic[i]} , {i}")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1946476235.py, line 10)

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [48]:
list=[1,2,2,3,4,5]

for i in range(0,len(list)-1):
    print(max(list[i],list[i+1]))

2
2
3
4
5

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [52]:
list=[1,2,3]
for i in range(0,len(list)):
    for j in range(0,len(list)):
        for k in range(0,len(list)):
            if not i==j and i==k and j==k:
                print(f"{i}, {j}, {k}")

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] 
Output: 
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [ ]:
from itertools import combinations
mylist=[1,2,3]
for i in range(1,len(mylist)+1):
        newlist= list(combinations(mylist, i))
        print(newlist)

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [ ]:
list=[1,2,3]
for i in range(0,len(list)):
    for j in range(0,len(list)):
        for k in range(0,len(list)):
            if (i != j and j != k and i != k):
                print(f"{list[i]}, {list[j]}, {list[k]}")

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1 

**Output : 2 3 4 5 2)

In [69]:
list=[1,1,2,3,4,5,1,2,1]
newlist=[]
k=int(input("enter the num:  "))
for i in list:
     if not i==k:
        newlist.append(list[i])
print(newlist)

enter the num:  1
[2, 3, 4, 5, 2]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [71]:
list1=["Gfg", "is", "best"]
list2=[0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
list3=[]
for i in list2:
    list3.append(list1[i])
print(list3)

['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 
Output : [] )

In [76]:
list=[[4, 5, 5, 4], [5, 4, 3]]
k= int(input("k: "))
n= int(input("n: "))
for i in list:
    if i.count(k)==n:
        print(i)

k: 5
n: 2
[4, 5, 5, 4]

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [ ]:
**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output: 
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [78]:
dic={'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
for i in sorted(dic) :
    print ((i, dic[i]), end =" ")

('rajnish', 9) ('ravi', 10) ('sanjeev', 15) ('suraj', 32) ('yash', 2)

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7 
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [87]:
dic={"Gfg" : 3, "is" : 7, "best" : 10, "for" : 6, "geeks" : "CS"}
newdic={}
k=int(input("k: "))
for i in dic:
    try:
        if not dic[i]>=k:
            newdic[i]=dic[i]
    except:
         if not len(dic[i])>=k:
            newdic[i]=dic[i]
    
print(newdic)

k: 7
{'Gfg': 3, 'for': 6, 'geeks': 'CS'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [88]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {}
for d in (dic1, dic2, dic3): dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [ ]:
dic={"Gfg" : 3, "is" : 7, "best" : 10, "for" : 6, "geeks" : "CS"}
for i in dic:
    print(i," : ",dic[i])

**44- Write a Python script to merge two Python dictionaries

In [89]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic4 = {}
for d in (dic1, dic2): dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40}

 **45-Write a Python program to get the maximum and minimum values of a dictionary values

In [91]:
dic={1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
print(max(dic),max(dic.values()),min(dic),min(dic.values()))

6 60 1 10

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [94]:
dict1 = {'c1': 'Red', 'c2': 'Green', 'c3':None}



dict1 = {key:value for (key, value) in dict1.items() if value is not None}
print(dict1)

{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [97]:
tuble=(1,3,5,1,31,2)
print(tuble[int(input())])

3
1

**48-Write a Python program to unpack a tuple into several variables

In [ ]:
tuble=(1,3,5,1,31,2)
for i in tuble:
    print(i)

**49-Write a Python program to add an item to a tuple

In [100]:
tuble=(1,3,5,1,31,2)
print(tuble+(9,))

(1, 3, 5, 1, 31, 2, 9)

**50-Write a Python program to convert a tuple to a string

In [101]:
tuble=(1,3,5,1,31,2)
print(str(tuble))

(1, 3, 5, 1, 31, 2)

**51-Write a Python program to convert a list to a tuple

In [102]:
list=[1,3,123,2,51,2,3]
tuble=tuple(list)

**52-Write a Python program to reverse a tuple

In [107]:
tuble=(1,3,5,1,31,2)
newtub=tuble[::-1]
print(newtub)

(2, 31, 1, 5, 3, 1)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [108]:
tuble=([10, 20, 40], [40, 50, 60], [70, 80, 90])
k=int(input("enter the value"))
for i in tuble: 
    i[-1]=k
print(tuble)

enter the value5
([10, 20, 5], [40, 50, 5], [70, 80, 5])

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [110]:
string=input()
list=[*string]
tuble=tuple(list)
print(tuble)

python 3.0
('p', 'y', 't', 'h', 'o', 'n', ' ', '3', '.', '0')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [113]:
tubles=((1,3,4,3,6),(1,3,5,12,5,1))
sum=0
total=0
for tuble in tubles:
    for i in tuble:
        sum+=i
        total+=1
print(int(sum/total))

4

**56-Write a Python program to add member(s) to a set.

In [117]:
set={1,3,3,5,1}
set.add(int(input()))
print(set)

3
{1, 3, 5}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [127]:
set1={1,3,1,3,31,2,1}
set2={1,3}
set3=set1.difference(set2)
print(set3)

{2, 31}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [129]:
set1={1,3,1,3,31,2,1}
set2={1,3,8,7,3}
set3=set1.union(set2)
set4=set1.intersection(set2)
set5=set1.difference(set2)
set6=set1.symmetric_difference(set2)
print(set3,set4,set5,set6)

{1, 2, 3, 7, 8, 31} {1, 3} {2, 31} {2, 7, 8, 31}

**59-Write a Python program to find the maximum and minimum values in a set

In [130]:
set1={1,3,1,3,31,2,1}
print(max(set1),min(set1))

31 1

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [133]:
list=[1,3,5,1,3,5,13,2]
value=int(input("value: "))
dic={}
for i in list:
    
    for j in list:
        if not k in dic:
            if (i+j)==value:
                print(i,j)
                dic[i]=j

value: 6
1 5
1 5
3 3
3 3
5 1